/****************common css start*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1320px;
  margin: auto;
}
/*****************common css end**************/

/*********************************/

nav {
  width: 100%;
}
.container {
  width: 1320px;
  margin: auto;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}
.menu {
  width: 80%;
}

.menu-items {
  display: flex;
  column-gap: 40px;
}
.menu-items li a {
  width: 20%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  vertical-align: middle;
  padding: 4px;
}
.menu-items li:last-child {
  margin-left: auto;
}
.menu-items li a i {
  color: black;
  vertical-align: middle;
  padding: 4px;
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;
}
/**************shop*************/

.box {
  width: 28%;
  transition: ease-in-out;
}

.box ul li {
  margin: 30px 0px;
}
.box ul li h3 {
  color: #67788a;
  font-size: 16px;
  font-weight: 700;
}
.box ul li a {
  padding: 5px;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.box ul li a:hover {
  text-decoration: underline;
}
/*******************************/
nav {
  padding: 40px 0px;
  position: relative;
  background-color: #f6f8fa;
  z-index: 9999;
}
.shop {
  width: 100%;
  padding: 410px 0;
  height: fit-content;
  padding-top: 60px;
  position: absolute;
  top: 65px;
  left: 0px;
  display: none;
  background-color: #f6f8fa;
  z-index: 999;
}
.shop-wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
}
.box-wrapper {
  width: 70%;
  padding-top: 60px;
  position: absolute;
  top: -60px;
  left: 357px;
  z-index: 2;
  display: flex;
}
.animated {
  transform: translateY(-40px);
  animation-name: animationx;
  animation-duration: 2s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in;
}
@keyframes animationx {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.551);
  margin-bottom: 30px;
}
#banner {
  position: relative;
}
.overlay {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.89);
  transition: 2s ease-in-out;
}
/*****************banner section css start***********/

.banner-bg {
  width: 100%;
  background-color: rgb(158 160 174);
}

/***********sidebar section css start here*************/
.banner-content {
  position: relative;
}
.sidebar1-items {
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
}
.sidebar2-items {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  display: none;
}
.items {
  background-color: white;
  width: 250px;
  padding-top: 20px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
.items li a:hover {
  color: #1a9cb7;
}
.items li:hover {
  background-color: #1a9db743;
}
.items li a {
  display: block;
  width: 100%;
  padding: 4px 0px 7px 10px;
  font-size: 13px;
  color: #757575;
}
/************sidebar section css start here*************/
/*****************banner section css end***********/
/*****************slider css start ****************/
.mySlides {
  display: none;
}

/* Slideshow container */
.mySlides {
  width: 100%;
  height: 50vh;
  text-align: center;
}
.img-cont {
  width: 70%;
  height: 50vh;
  margin-left: 350px;
  text-align: right;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The dots/bullets/indicators */
.bg-img {
  width: 100%;
  height: 50vh;
  position: relative;
}
.slideshow-container {
  width: 100%;
  height: 50vh;
}
.radio-btn {
  position: absolute;
  bottom: 10px;
  left: 650px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*****************slider css end ****************/
